body, html{
    margin: 0;
    padding:0;
    background-color: blanchedalmond;
}
.wrap1{
    position: relative;
    background-image:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("back1.jpg");
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:600px;
    text-align: center;
    /* background-color: rgb(37, 33, 33, 0.5);
    opacity:0.6 */
}
.child1{
    position: absolute;
    top:25%;
    right:25%;
    left:25%
}
#cart{
    position: absolute;
    background-color: transparent;
    border: 1vw solid transparent;
    border-radius: 1vw;
    top:-50%;
    right:-40%;
    font-size: 3vw;
    color:white;
    font-family: papyrus;
}
#list{
    position: absolute;
    top:-10%;
    right:-35%;
    color:black;
    font-size:20px;
    background-color: honeydew;
    padding: 10px;
}
#cart:hover{
    border-top: 1vw solid rgb(47, 250, 29);
    border-bottom: 1vw solid rgb(47, 250, 29);
}
#head1{
    color: aliceblue;
    font-size: 6vw;
}
#btn1{
    padding: 20px;
    font-size: 2vw;
    color:aliceblue;
    background-color: black;
    opacity: 0.7;
    border:4vw black;
    border-radius: 8vw;
}
#btn1:hover{
    padding: 25px;
    font-size: 2vw;
    color:aliceblue;
    background-color: black;
    opacity: 0.4;
    border:4vw black;
    border-radius: 8vw;
}
.container-fluid{
    text-align: center;
    margin-top:4vw;
}
.items{
   position: relative;
}
.items:hover{
    border:2px solid rgb(133, 129, 129);
}
.items button{
    position: absolute;
    top:8%;
    left:22%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    opacity:0;
    font-size: 2vw;
}
.items:hover button{
    background-color: rgb(247, 122, 49);
    color:black;
    opacity: 1;
    border: 1vw solid rgb(247, 122, 49);
    border-radius: 1vw;
}
.items button:hover{
    opacity: 0.7;
}

